/* Style for #red */
#red {
  border-top-color: #f00;
}

/* Style for #orange */
#orange {
  border-top-color: #ffa500;
}

/* Style for #yellow */
#yellow {
  border-top-color: #ff0;
}

/* Style for #green */
#green {
  border-top-color: #00bc3f;
}

/* Style for #blue */
#blue {
  border-top-color: #06f;
}

/* Style for #indigo */
#indigo {
  border-top-color: #8a2be2;
}

/* Style for #violet */
#violet {
  border-top-color: #d300c9;
}